/* Main button size */
.medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3333333;
}
.small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 9pxpx;
  font-size: 13px;
  line-height: 1.3333333;
  min-width: 120px;
}
.blueText {
  color: #00a3e0 !important;
}
.narrow {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3333333;
}
/* Main button color */
.btn-green {
  color: #ffffff;
  background: #86bc25;
  border-color: #86bc25;
}
.btn-green:hover {
  background: #80b323;
  border-color: #80b323;
  color: #ffffff;
}
.btn-green:active,
.btn-green:visited,
.btn-green:focus {
  background: #7aab22;
  border-color: #7aab22;
  color: #ffffff;
}
.btn-green[disabled] {
  cursor: not-allowed;
  opacity: .50;
}
.btn-blue {
  color: #ffffff;
  background: #00a3e0;
  border-color: #00a3e0;
}
.btn-blue:hover {
  background: #009cd6;
  border-color: #009cd6;
  color: #ffffff;
}
.btn-blue:active,
.btn-blue:visited,
.btn-blue:focus {
  background: #0094cc;
  border-color: #0094cc;
  color: #ffffff;
}
.btn-blue[disabled] {
  cursor: not-allowed;
  opacity: .50;
}
.btn-border-blue {
  color: #00a3e0;
  background: #ffffff;
  border-color: #00a3e0;
}
.btn-border-blue:hover {
  background: #f5f5f5;
  border-color: #00a3e0;
  color: #00a3e0;
}
.btn-border-blue:active,
.btn-border-blue:visited,
.btn-border-blue:focus {
  background: #ebebeb;
  border-color: #00a3e0;
  color: #00a3e0;
}
.btn-border-blue[disabled] {
  cursor: not-allowed;
  opacity: .50;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
body .wrapper {
  background: #f7f7f7;
  width: 1175px;
  margin: 0 auto;
}
body .wrapper .container {
  width: 1135px;
  padding: 0 20px;
}
body .wrapper .container.content {
  padding-bottom: 20px;
}
body .wrapper .container .row {
  margin-left: -19px;
  margin-right: -20px;
}
body .wrapper .container .row .col-xs-1,
body .wrapper .container .row .col-sm-1,
body .wrapper .container .row .col-md-1,
body .wrapper .container .row .col-lg-1,
body .wrapper .container .row .col-xs-2,
body .wrapper .container .row .col-sm-2,
body .wrapper .container .row .col-md-2,
body .wrapper .container .row .col-lg-2,
body .wrapper .container .row .col-xs-3,
body .wrapper .container .row .col-sm-3,
body .wrapper .container .row .col-md-3,
body .wrapper .container .row .col-lg-3,
body .wrapper .container .row .col-xs-4,
body .wrapper .container .row .col-sm-4,
body .wrapper .container .row .col-md-4,
body .wrapper .container .row .col-lg-4,
body .wrapper .container .row .col-xs-5,
body .wrapper .container .row .col-sm-5,
body .wrapper .container .row .col-md-5,
body .wrapper .container .row .col-lg-5,
body .wrapper .container .row .col-xs-6,
body .wrapper .container .row .col-sm-6,
body .wrapper .container .row .col-md-6,
body .wrapper .container .row .col-lg-6,
body .wrapper .container .row .col-xs-7,
body .wrapper .container .row .col-sm-7,
body .wrapper .container .row .col-md-7,
body .wrapper .container .row .col-lg-7,
body .wrapper .container .row .col-xs-8,
body .wrapper .container .row .col-sm-8,
body .wrapper .container .row .col-md-8,
body .wrapper .container .row .col-lg-8,
body .wrapper .container .row .col-xs-9,
body .wrapper .container .row .col-sm-9,
body .wrapper .container .row .col-md-9,
body .wrapper .container .row .col-lg-9,
body .wrapper .container .row .col-xs-10,
body .wrapper .container .row .col-sm-10,
body .wrapper .container .row .col-md-10,
body .wrapper .container .row .col-lg-10,
body .wrapper .container .row .col-xs-11,
body .wrapper .container .row .col-sm-11,
body .wrapper .container .row .col-md-11,
body .wrapper .container .row .col-lg-11,
body .wrapper .container .row .col-xs-12,
body .wrapper .container .row .col-sm-12,
body .wrapper .container .row .col-md-12,
body .wrapper .container .row .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}
body .wrapper .container .row .col-xs-1.noPadding,
body .wrapper .container .row .col-sm-1.noPadding,
body .wrapper .container .row .col-md-1.noPadding,
body .wrapper .container .row .col-lg-1.noPadding,
body .wrapper .container .row .col-xs-2.noPadding,
body .wrapper .container .row .col-sm-2.noPadding,
body .wrapper .container .row .col-md-2.noPadding,
body .wrapper .container .row .col-lg-2.noPadding,
body .wrapper .container .row .col-xs-3.noPadding,
body .wrapper .container .row .col-sm-3.noPadding,
body .wrapper .container .row .col-md-3.noPadding,
body .wrapper .container .row .col-lg-3.noPadding,
body .wrapper .container .row .col-xs-4.noPadding,
body .wrapper .container .row .col-sm-4.noPadding,
body .wrapper .container .row .col-md-4.noPadding,
body .wrapper .container .row .col-lg-4.noPadding,
body .wrapper .container .row .col-xs-5.noPadding,
body .wrapper .container .row .col-sm-5.noPadding,
body .wrapper .container .row .col-md-5.noPadding,
body .wrapper .container .row .col-lg-5.noPadding,
body .wrapper .container .row .col-xs-6.noPadding,
body .wrapper .container .row .col-sm-6.noPadding,
body .wrapper .container .row .col-md-6.noPadding,
body .wrapper .container .row .col-lg-6.noPadding,
body .wrapper .container .row .col-xs-7.noPadding,
body .wrapper .container .row .col-sm-7.noPadding,
body .wrapper .container .row .col-md-7.noPadding,
body .wrapper .container .row .col-lg-7.noPadding,
body .wrapper .container .row .col-xs-8.noPadding,
body .wrapper .container .row .col-sm-8.noPadding,
body .wrapper .container .row .col-md-8.noPadding,
body .wrapper .container .row .col-lg-8.noPadding,
body .wrapper .container .row .col-xs-9.noPadding,
body .wrapper .container .row .col-sm-9.noPadding,
body .wrapper .container .row .col-md-9.noPadding,
body .wrapper .container .row .col-lg-9.noPadding,
body .wrapper .container .row .col-xs-10.noPadding,
body .wrapper .container .row .col-sm-10.noPadding,
body .wrapper .container .row .col-md-10.noPadding,
body .wrapper .container .row .col-lg-10.noPadding,
body .wrapper .container .row .col-xs-11.noPadding,
body .wrapper .container .row .col-sm-11.noPadding,
body .wrapper .container .row .col-md-11.noPadding,
body .wrapper .container .row .col-lg-11.noPadding,
body .wrapper .container .row .col-xs-12.noPadding,
body .wrapper .container .row .col-sm-12.noPadding,
body .wrapper .container .row .col-md-12.noPadding,
body .wrapper .container .row .col-lg-12.noPadding {
  padding: 0;
}
body .wrapper .container .row .col-xs-1.noPadding input,
body .wrapper .container .row .col-sm-1.noPadding input,
body .wrapper .container .row .col-md-1.noPadding input,
body .wrapper .container .row .col-lg-1.noPadding input,
body .wrapper .container .row .col-xs-2.noPadding input,
body .wrapper .container .row .col-sm-2.noPadding input,
body .wrapper .container .row .col-md-2.noPadding input,
body .wrapper .container .row .col-lg-2.noPadding input,
body .wrapper .container .row .col-xs-3.noPadding input,
body .wrapper .container .row .col-sm-3.noPadding input,
body .wrapper .container .row .col-md-3.noPadding input,
body .wrapper .container .row .col-lg-3.noPadding input,
body .wrapper .container .row .col-xs-4.noPadding input,
body .wrapper .container .row .col-sm-4.noPadding input,
body .wrapper .container .row .col-md-4.noPadding input,
body .wrapper .container .row .col-lg-4.noPadding input,
body .wrapper .container .row .col-xs-5.noPadding input,
body .wrapper .container .row .col-sm-5.noPadding input,
body .wrapper .container .row .col-md-5.noPadding input,
body .wrapper .container .row .col-lg-5.noPadding input,
body .wrapper .container .row .col-xs-6.noPadding input,
body .wrapper .container .row .col-sm-6.noPadding input,
body .wrapper .container .row .col-md-6.noPadding input,
body .wrapper .container .row .col-lg-6.noPadding input,
body .wrapper .container .row .col-xs-7.noPadding input,
body .wrapper .container .row .col-sm-7.noPadding input,
body .wrapper .container .row .col-md-7.noPadding input,
body .wrapper .container .row .col-lg-7.noPadding input,
body .wrapper .container .row .col-xs-8.noPadding input,
body .wrapper .container .row .col-sm-8.noPadding input,
body .wrapper .container .row .col-md-8.noPadding input,
body .wrapper .container .row .col-lg-8.noPadding input,
body .wrapper .container .row .col-xs-9.noPadding input,
body .wrapper .container .row .col-sm-9.noPadding input,
body .wrapper .container .row .col-md-9.noPadding input,
body .wrapper .container .row .col-lg-9.noPadding input,
body .wrapper .container .row .col-xs-10.noPadding input,
body .wrapper .container .row .col-sm-10.noPadding input,
body .wrapper .container .row .col-md-10.noPadding input,
body .wrapper .container .row .col-lg-10.noPadding input,
body .wrapper .container .row .col-xs-11.noPadding input,
body .wrapper .container .row .col-sm-11.noPadding input,
body .wrapper .container .row .col-md-11.noPadding input,
body .wrapper .container .row .col-lg-11.noPadding input,
body .wrapper .container .row .col-xs-12.noPadding input,
body .wrapper .container .row .col-sm-12.noPadding input,
body .wrapper .container .row .col-md-12.noPadding input,
body .wrapper .container .row .col-lg-12.noPadding input {
  width: 97%;
}
.panel-left {
  background-color: white;
  border-right: 1px solid #f7f7f7;
  padding: 0;
  width: 272px;
}
.panel-left .name-company {
  font-size: 16px;
  color: #D0D0CE !important;
  margin: auto 32px;
  text-align: center;
  display: block;
  line-height: 16px;
}
.panel-left .name-company.available {
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.panel-left .location {
  font-size: 14px;
  color: #D0D0CE !important;
  margin: auto 32px;
  text-align: center;
  margin: 7px 32px 37px 32px;
  display: block;
}
.panel-left .location.available {
  color: #97999b !important;
}
.panel-right {
  background-color: white;
  padding: 0 24px !important;
  width: 920px;
}
.panel-right h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #000;
  margin: 35px 22px 4px -1px;
  letter-spacing: -0.6px;
}
.panel-right p {
  color: #63666A;
  margin-bottom: 26px;
}
.panel-right hr {
  margin-bottom: 31px;
}
.panel-right .well {
  border: 2px solid #DDDDDD;
  cursor: pointer;
  margin: 0;
  min-height: 108px;
  padding: 23px 144px 18px 32px;
  width: 384px;
}
.panel-right .well.even {
  background: url(../img/bg-well-nav-even.png) no-repeat right bottom;
}
.panel-right .well.even.green {
  border-color: #86bc25;
}
.panel-right .well.even.green i {
  background: url(../img/img-icon-checked-green.png) no-repeat;
  display: none;
  float: left;
  margin-bottom: 30px;
  margin-right: 16px;
  width: 20px;
  height: 16px;
}
.panel-right .well.even.green:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(134, 188, 37, 0.4);
  box-shadow: 0 0 7px 0 rgba(134, 188, 37, 0.4);
}
.panel-right .well.even.green:active,
.panel-right .well.even.green:focus {
  background: rgba(134, 188, 37, 0.05) url(../img/bg-well-nav-even.png) no-repeat right bottom !important;
}
.panel-right .well.even.green.active {
  background: rgba(134, 188, 37, 0.05) url(../img/bg-well-nav-even.png) no-repeat right bottom !important;
}
.panel-right .well.even.green.active i {
  display: block !important;
}
.panel-right .well.even.blue {
  border-color: #00a3e0;
}
.panel-right .well.even.blue i {
  background: url(../img/img-icon-checked-blue.png) no-repeat;
  display: none;
  float: left;
  margin-bottom: 30px;
  margin-right: 16px;
  width: 20px;
  height: 16px;
}
.panel-right .well.even.blue:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 163, 224, 0.4);
  box-shadow: 0 0 7px 0 rgba(0, 163, 224, 0.4);
}
.panel-right .well.even.blue:active,
.panel-right .well.even.blue:focus {
  background: rgba(0, 163, 224, 0.05) url(../img/bg-well-nav-even.png) no-repeat right bottom !important;
}
.panel-right .well.even.blue.active {
  background: rgba(0, 163, 224, 0.05) url(../img/bg-well-nav-even.png) no-repeat right bottom !important;
}
.panel-right .well.even.blue.active i {
  display: block !important;
}
.panel-right .well.odd {
  background: url(../img/bg-well-nav-odd.png) no-repeat right bottom;
  margin: 0 0 0 -10px;
}
.panel-right .well.odd.green {
  border-color: #86bc25;
}
.panel-right .well.odd.green i {
  background: url(../img/img-icon-checked-green.png) no-repeat;
  display: none;
  float: left;
  margin-bottom: 30px;
  margin-right: 16px;
  width: 20px;
  height: 16px;
}
.panel-right .well.odd.green:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(134, 188, 37, 0.4);
  box-shadow: 0 0 7px 0 rgba(134, 188, 37, 0.4);
}
.panel-right .well.odd.green:active,
.panel-right .well.odd.green:focus {
  background: rgba(134, 188, 37, 0.05) url(../img/bg-well-nav-odd.png) no-repeat right bottom !important;
}
.panel-right .well.odd.green.active {
  background: rgba(134, 188, 37, 0.05) url(../img/bg-well-nav-odd.png) no-repeat right bottom !important;
}
.panel-right .well.odd.green.active i {
  display: block !important;
}
.panel-right .well.odd.blue {
  border-color: #00a3e0;
}
.panel-right .well.odd.blue i {
  background: url(../img/img-icon-checked-blue.png) no-repeat;
  display: none;
  float: left;
  margin-bottom: 30px;
  margin-right: 16px;
  width: 20px;
  height: 16px;
}
.panel-right .well.odd.blue:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 163, 224, 0.4);
  box-shadow: 0 0 7px 0 rgba(0, 163, 224, 0.4);
}
.panel-right .well.odd.blue:active,
.panel-right .well.odd.blue:focus {
  background: rgba(0, 163, 224, 0.05) url(../img/bg-well-nav-odd.png) no-repeat right bottom !important;
}
.panel-right .well.odd.blue.active {
  background: rgba(0, 163, 224, 0.05) url(../img/bg-well-nav-odd.png) no-repeat right bottom !important;
}
.panel-right .well.odd.blue.active i {
  display: block !important;
}
.panel-right .well h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  margin: 0 0 9px 0;
  font-size: 14px;
}
.panel-right .well p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  margin: 0;
}
.panel-right .strongLabel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.panel-right .surveyPeople .deleteButton {
  float: right;
  margin: 20px 0 0;
}
.panel-right .surveyPeople .deleteButton i:before {
  content: url(../img/close_default.png);
}
.panel-right .surveyPeople .deleteButton i:hover:before {
  content: url(../img/close_onhover.png);
}
.panel-right .surveyPeople hr {
  margin: 15px 0 0;
}
.panel-right .surveyAdminContent .imgProfile {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin: 16px 12px 0 0;
}
.panel-right .surveyAdminContent .nameProfile {
  float: left;
  margin: 16px 20px 0 0;
}
.panel-right .surveyAdminContent .nameProfile p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  font-size: 13px;
  line-height: 13px;
  margin: 0;
}
.panel-right .surveyAdminContent .nameProfile span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #97999b;
  margin: 0;
}
.panel-right hr {
  margin: 15px 0;
}
.panel-right a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #86bc25;
  font-size: 14px;
}
.panel-right a.btn-green {
  color: white;
}
.flexBox {
  display: flex;
}
/* Form groups */
.form-group {
  margin: 0 0 24px;
}
.form-group .control-label {
  margin: 10px 0 0 -10px;
}
.form-group .control-label span {
  color: #e30613;
}
.form-group .showInfo {
  border: 1px solid #e5e5e3;
  padding: 17px;
  width: 97%;
  margin: 4px 0 0;
}
.form-group .showInfo .scrollSize {
  max-height: 285px;
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px;
  margin-top: -17px;
  padding-top: 17px;
}
.form-group .showInfo .scrollSize ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-group .showInfo .scrollSize ul li {
  margin: 0 0 16px;
}
.form-group .showInfo .scrollSize ul li:before,
.form-group .showInfo .scrollSize ul li:after {
  display: table;
  clear: both;
  content: "";
}
.form-group .showInfo .scrollSize ul li .imgProfile {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin: 0 12px 0 0;
}
.form-group .showInfo .scrollSize ul li .nameProfile {
  float: left;
  margin-top: 3px;
}
.form-group .showInfo .scrollSize ul li .nameProfile p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 13px;
}
.form-group .showInfo .scrollSize ul li .nameProfile span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #97999b;
  display: block;
  font-size: 13px;
}
.form-group .showInfo .scrollSize ul li .checkProfile {
  float: right;
  margin: 4px 0px;
}
.form-group .showInfo .scrollSize ul li .checkProfile input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.form-group .showInfo .scrollSize ul li .checkProfile input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 23px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}
.form-group .showInfo .scrollSize ul li .checkProfile input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -18px;
}
.form-group .showInfo .scrollSize ul li .checkProfile label.css-label {
  background-image: url(../img/sprite-checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-group .showInfo .footer {
  background: #f1f1f0;
  padding: 17px;
  margin: 0 -17px -17px;
}
.form-group input {
  border: 1px solid #e5e5e3;
  box-shadow: none;
  color: #000000;
  font-size: 13px;
  height: 40px;
  position: relative;
}
.form-group input:hover {
  border-color: #dcdcdc;
}
.form-group input:active,
.form-group input:focus,
.form-group input.filled {
  background: url(../img/img-icon-close-input.png) no-repeat 97% 14px;
  border-color: #00a3e0;
  box-shadow: none;
}
.form-group input.searchField {
  background: url(../img/search_default.png) no-repeat 97% 11px;
  width: 97% ;
  margin-right: 3%;
}
.form-group input.searchField:active,
.form-group input.searchField:focus,
.form-group input.searchField.filled {
  background: url(../img/search_focused.png) no-repeat 97% 11px;
}
.form-group input.searchField.error,
.form-group input.searchField.required {
  background: url(../img/search_error.png) no-repeat 97% 11px;
}
.form-group input.error,
.form-group input.required {
  background: url(../img/img-icon-close-input.png) no-repeat 97% 11px;
  border-color: #e30613;
}
.form-group .input-group-addon {
  background: #ffffff;
  border-color: #e5e5e3;
  border-width: 1px 1px 1px 0;
  padding: 5px 8px;
}
.form-group .input-group-addon.error,
.form-group .input-group-addon.required {
  border-color: #e30613;
  color: #e30613;
}
.form-group .input-group-addon span {
  padding: 3px 4px 5px;
}
.form-group .input-group-addon span:before {
  content: url(../img/img-icon-calendar.svg);
}
.form-group .input-group-addon span:hover {
  background: #f3f4f5;
  border: 1px solid #e7e7e6;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 3px 3px;
}
.form-group .input-group-addon span:active,
.form-group .input-group-addon span:focus {
  background: #e5e7e9;
  border-color: #dbdbd9;
}
.form-group .input-group.date input {
  border-width: 1px 0 1px 1px;
}
.form-group .input-group.date input.error,
.form-group .input-group.date input.required {
  background: none;
  border-color: #e30613 !important;
}
.form-group .input-group.date input:active,
.form-group .input-group.date input:focus {
  background: none;
  border-color: #e5e5e3;
}
.form-group .msgError {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e30613;
  font-size: 13px;
  margin: 0 0 0 16px;
}
::-webkit-input-placeholder {
  color: #97999b;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #97999b;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #97999b;
}
:-ms-input-placeholder {
  color: #97999b;
}
/* Clear Fixed */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.last {
  float: right;
}
.header {
  background: #000000;
  height: 64px;
}
.header .wrapper {
  background: none;
}
.header .wrapper .logo {
  float: left;
  width: 273px;
}
.header .wrapper .logo h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 21px;
  margin-top: 20px;
}
.header .wrapper .logo h1 a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: -0.5px;
}
.header .wrapper .logo h1 a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .wrapper .logo h1 a:active,
.header .wrapper .logo h1 a:focus {
  color: #ffffff;
  text-decoration: none;
}
.header .wrapper .logo i {
  background: url(../img/logo-Dprofile.png) no-repeat;
  float: left;
  width: 100px;
  height: 20px;
  margin-top: 23px;
}
.header .wrapper .logo-2 {
  display: none;
}
.header .navTop ul {
  margin: 0;
  padding: 0;
}
.header .navTop ul li {
  display: inline-block;
  margin: 0 18px 0 0;
  padding: 22px 8px 22px 9px;
}
.header .navTop ul li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .navTop ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.header .navTop ul li.active {
  border-bottom: 5px solid #86bc25;
  padding: 22px 8px 17px 9px;
}
.header .navTop ul li.active a {
  color: #ffffff;
}
.header .userProfile {
  float: right;
  min-width: 174px;
}
.header .userProfile .imgProfile {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  height: 32px;
  overflow: hidden;
  width: 32px;
  margin: 16px 12px 16px 0;
}
.header .userProfile .imgProfile img {
  width: 100%;
}
.header .userProfile .nameProfile {
  float: left;
  margin: 22px 20px 22px 0;
}
.header .userProfile .nameProfile span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
}
.header.header-white {
  background: #ffffff;
}
.header.header-white .wrapper .logo i {
  background: url(../img/bg-customized-files.png) no-repeat;
  float: left;
  width: 45px;
  height: 43px;
  margin-top: 10px;
}
.header.header-white .navTop ul li a {
  color: rgba(0, 0, 0, 0.5);
}
.header.header-white .navTop ul li a:hover {
  color: #000000;
}
.header.header-white .navTop ul li.active {
  color: #000000;
}
.header.header-white .userProfile {
  display: none;
}
.header.header-black .wrapper .logo i {
  background: url(../img/bg-customized-files.png) no-repeat;
  float: left;
  width: 45px;
  height: 43px;
  margin-top: 10px;
}
.header.header-black .wrapper .logo-2 {
  display: inline-block;
}
.header.header-black .wrapper .logo-2 i {
  background: url(../img/bg-customized-files.png) no-repeat;
  float: right;
  width: 45px;
  height: 43px;
  margin-top: 10px;
}
.header.header-black .userProfile {
  display: none;
}
.titleHeader .titleContainer {
  margin: 23px 0 9px;
}
.titleHeader .titleContainer h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin: 4px 1px;
}
.titleHeader .callToHeader {
  margin: 23px 0 9px;
  min-width: 176px;
}
.titleHeader .callToHeader button {
  margin: 0 0 0 2px;
  min-width: 176px;
}
.dragover {
  background-color: #EBF8FD;
}
.progress-green {
  padding-left: 0 !important;
}
.progress-green div:nth-child(1) {
  display: inline-block;
}
.progress-green div:nth-child(1) div {
  width: 244px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.progress-green div:nth-child(1) span {
  color: #97999b;
  padding-left: 35px;
  position: relative;
  top: -5px;
}
.progress-green div:nth-child(1) .delete-progress {
  float: right;
  text-align: right;
  width: 60px;
}
.progress-green div:nth-child(1) .delete-progress i:before {
  content: url(../img/close_default.png);
}
.progress-green div:nth-child(1) .delete-progress i:hover:before {
  content: url(../img/close_onhover.png);
}
.progress-green .progress {
  height: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #c8c8c8;
  margin: 5px 0 13px 0 -6px;
}
.progress-green span:nth-child(3) {
  color: #97999b;
}
.progress-green span:nth-child(4) {
  color: #97999b;
  padding-left: 45px;
}
.icon-progress {
  float: right;
}
.icon-progress .icon-download:before {
  content: url(../img/download.png);
}
.icon-progress .arrow-right:before {
  content: url(../img/arrow-right.png);
}
.icon-progress .icon-close:before {
  content: url(../img/close.png);
}
.icon-progress i {
  margin: 0 8px;
  cursor: pointer;
}
.modal-content {
  width: 435px;
  margin: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.modal-content .modal-body {
  height: 395px;
}
.modal-content .modal-body .conten-body {
  margin-top: 65px;
}
.modal-content .modal-body .conten-body img {
  height: 130px;
}
.modal-content .modal-body .conten-body h4 {
  font-weight: bold;
  line-height: inherit;
  color: #000000;
}
.modal-content .modal-body .conten-body h4:nth-child(2) {
  margin: 40px 0 0;
}
.modal-content .modal-body .conten-body h4:nth-child(3) {
  margin: 0 0 20px;
}
.modal-content .modal-footer button {
  padding: 10px 0;
  width: 177px;
  margin: 16px 0;
}
.modal-content .modal-footer button.btn-default {
  margin-left: 16px;
}
.textarea-form {
  padding-left: 0!important;
  margin-top: 10px;
}
.textarea-form .cke_chrome {
  border: 1px solid #e5e5e3;
}
.textarea-form .cke_chrome .cke_top {
  background: #f7f7f7;
  border-bottom: 1px solid #e5e5e3;
}
.textarea-form .cke_chrome .cke_top .cke_toolbar .cke_toolgroup {
  background: #ffffff;
  border: 1px solid #e5e5e3;
}
.textarea-form .cke_chrome .cke_top .cke_toolbar .cke_toolgroup .cke_button {
  border: 1px solid #e5e5e3;
}
.authentication {
  background-color: #ffffff;
  text-align: center;
}
.authentication h3 {
  font-size: 31px;
  line-height: 34px;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 4px;
}
.authentication .text-help {
  width: 260px;
  display: inline-block;
}
.authentication .text-help span {
  font-size: 14px;
  color: #97999b;
  line-height: 20px;
}
.authentication .text-help span a {
  color: #00a3e0;
}
.authentication .access-denied {
  padding-top: 269px;
  padding-bottom: 241px;
  margin-top: 20px;
}
.authentication .no-survey {
  padding-top: 214px;
  padding-bottom: 216px;
}
.authentication .no-survey h3 {
  margin-top: 25px;
  margin-bottom: 12px;
}
.text-header {
  padding-left: 2px !important;
}
.text-header h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-header p {
  font-size: 14px;
  color: #63666a;
  max-width: 480px;
  margin-bottom: 30px;
}
.employee-list {
  background-color: #ffffff;
  padding: 0 32px;
}
.employee-list .btn-border-green {
  margin: 54px 32px 32px 0;
}
.employee-list .employee-data {
  margin: 0;
  width: 1071px;
  border: 1px solid #e7e7e6;
  font-size: 13px;
}
.employee-list .employee-data thead {
  background: #f7f7f7;
  border: none;
}
.employee-list .employee-data thead th {
  text-align: left;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 12px;
  border: none;
}
.employee-list .employee-data thead th:first-child {
  padding-left: 21px;
}
.employee-list .employee-data thead th:last-child {
  text-align: center;
  width: 110px;
}
.employee-list .employee-data tbody tr {
  border-bottom: 1px solid #e7e7e6;
}
.employee-list .employee-data tbody tr td {
  border: none;
  padding-top: 12px;
  padding-bottom: 13px;
  position: relative;
}
.employee-list .employee-data tbody tr td:first-child {
  padding-left: 21px;
}
.employee-list .employee-data tbody tr td .added {
  position: absolute;
  left: -37px;
  top: 19px;
  background: #86bc25;
  transform: rotateZ(-90deg);
  padding: 1px 8px 2px 8px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.employee-list .employee-data tbody tr .disable {
  color: #97999b;
}
.employee-list .employee-data .action {
  padding: 0;
  border-left: 1px solid #e7e7e6;
  width: 120px;
  padding-left: 14px;
}
.employee-list .employee-data .action i {
  cursor: pointer;
  width: 24px;
  margin: 16px 3px 15px 0;
  padding: 2px 5px;
  float: left;
}
.employee-list .employee-data .action i:first-child:hover:before {
  content: url(../img/Edit_onhover.png);
}
.employee-list .employee-data .action i:first-child:before {
  content: url(../img/Edit_default.png);
}
.employee-list .employee-data .action i:nth-child(2):hover:before {
  content: url(../img/Exclude_onhover.png);
}
.employee-list .employee-data .action i:nth-child(2):before {
  content: url(../img/Exclude_default.png);
}
.employee-list .employee-data .action i:last-child:hover:before {
  content: url(../img/Comment_onhover.png);
}
.employee-list .employee-data .action i:last-child:before {
  content: url(../img/Comment_onhover.png);
}
.employee-list .btn {
  width: 160px;
  margin: 25px 0 25px 16px;
}
.pagination {
  margin: 25px 0;
}
.pagination li .active,
.pagination li:hover {
  background-color: #e5e5e3;
}
.pagination li .show-more {
  color: #bebebe;
}
.pagination li a {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  color: #000000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.pagination li a:hover {
  color: #000000;
  background-color: #e5e5e3;
}
.btn-border-green {
  background-color: #ffffff;
  border-color: #86bc25;
  color: #86bc25;
  padding: 13px 20px 11px 20px;
  line-height: 16px;
}
.btn-border-green:hover {
  color: #86bc25;
  background-color: #f3f8e9;
}
.btn-border-green img {
  height: 16px;
  margin-right: 9px;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading img {
  position: relative;
}
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
}
.employee-list-modal .modal-header h4 {
  margin: 14px 0 13px 2px;
}
.employee-list-modal .modal-header img {
  content: url(../img/close_default.png);
  margin-top: 11px;
  cursor: pointer;
}
.employee-list-modal .modal-header img:hover {
  content: url(../img/close_onhover.png);
}
.employee-list-modal .modal-body {
  height: inherit !important;
}
.employee-list-modal .modal-body .form-group {
  margin: 16px 2px 0 2px;
}
.employee-list-modal .modal-body .form-group label {
  margin: 0 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.employee-list-modal .modal-body .form-group input,
.employee-list-modal .modal-body .form-group select {
  height: 40px;
  padding-left: 15px;
  margin-bottom: 24px;
  padding-right: 15px;
}
.employee-list-modal .modal-body .form-group textarea {
  height: 106px;
  margin-bottom: 14px;
}
.employee-list-modal .modal-body .form-group textarea:active,
.employee-list-modal .modal-body .form-group textarea:focus,
.employee-list-modal .modal-body .form-group textarea.filled {
  background: url(../img/img-icon-close-input.png) no-repeat 97% 14px;
  border-color: #00a3e0;
  box-shadow: none;
}
.employee-list-modal .modal-footer button {
  margin: 3px 0 7px 16px;
}
.edit-add-employee {
  width: 688px;
}
.exclude-employee {
  width: 466px;
}
.exclude-employee .modal-body .form-group {
  margin-top: 10px;
}
.exclude-employee .modal-body .form-group label {
  display: block;
}
.exclude-employee .modal-body .form-group .employee-data {
  margin-bottom: 26px;
  display: block;
}
.exclude-employee .modal-body .radio-options .control-label {
  margin-bottom: 21px;
}
.exclude-employee .modal-body .radio-options label {
  display: inline-block;
  margin-bottom: 0 !important;
}
.exclude-employee .modal-body .radio-options .text-radio {
  margin-bottom: 16px;
}
/********************       Radio Butons        ******************/
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  color: $DarkBrown;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #c8c8c8;
}
input[type="radio"] + label span:hover {
  background-color: #e7e7e6;
  border-color: #00a3e0;
}
input[type="radio"]:checked + label span {
  border: 4px solid #00a3e0;
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.semibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.surveysContainer .survey {
  background: #ffffff;
  cursor: pointer;
  height: 355px;
  margin: 0 0 20px 2px;
  padding: 48px !important;
}
.surveysContainer .survey.activityAnalysis {
  background: #ffffff url("../img/bg-survey-odd.png") no-repeat bottom right;
}
.surveysContainer .survey.siteProfile {
  background: #ffffff url("../img/bg-survey-even.png") no-repeat bottom right;
}
.surveysContainer .survey:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.surveysContainer .survey:active:nth-child(odd) {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: #eff0f1 url("../img/bg-survey-odd.png") no-repeat bottom right;
}
.surveysContainer .survey:active:nth-child(even) {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: #eff0f1 url("../img/bg-survey-even.png") no-repeat bottom right;
}
.surveysContainer .survey .tagsContainer {
  margin: 0 0 39px;
}
.surveysContainer .survey .tagsContainer .tag {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  background: #e7e7e6;
  float: left;
  font-size: 12px;
  line-height: 10px;
  margin: 0 7px 0 0;
  padding: 8px 11px;
  text-transform: uppercase;
}
.surveysContainer .survey .tagsContainer .tag.active {
  position: relative;
}
.surveysContainer .survey .tagsContainer .tag.active:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid #e7e7e6;
  border-left: 9px solid transparent;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.surveysContainer .survey .tagsContainer .tag.green {
  background: #86bc25;
  color: #ffffff;
}
.surveysContainer .survey .tagsContainer .tag.green:after {
  border-top-color: #68911d;
}
.surveysContainer .survey .tagsContainer .tag.blue {
  background: #00a3e0;
  color: #ffffff;
}
.surveysContainer .survey .tagsContainer .tag.blue:after {
  border-top-color: #007ead;
}
.surveysContainer .survey .tagsContainer .tag.gray {
  color: #63666a;
}
.surveysContainer .survey .tagsContainer .tag.gray:after {
  color: #63666a;
}
.surveysContainer .survey h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 32px;
  letter-spacing: -0.5px;
  margin: 0 0 0 -2px;
}
.surveysContainer .survey h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 32px;
  margin: 2px 0 0 -2px;
  letter-spacing: -0.3px;
}
.surveysContainer .survey h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  margin: 5px 0 0 -2px;
  letter-spacing: -0.1px;
}
.logo-company {
  text-align: center;
  margin: 37px 63px 27px;
  width: 154px;
  height: 137px;
}
a,
a:active,
a:focus {
  outline: none;
}
label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tabs-left {
  border-bottom: none;
  padding-top: 0px;
}
.tabs-left > li {
  float: none;
  margin-bottom: 0px;
  margin-right: -1px;
}
.tabs-left > li > a {
  border-radius: 0;
  margin-right: 0;
  display: block;
  padding: 26px 28px 28px;
  border: 0 none !important;
  border-left: 4px solid white !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}
.tabs-left > li > a:hover {
  background-color: #f7f7f7;
  border-left: 4px solid #f7f7f7 !important;
}
.tabs-left > li.active > a {
  background-color: #f7f7f7;
  border-left: 4px solid #00a3e0 !important;
  color: black;
}
.tabs-left > li.active > a:hover {
  background-color: #f7f7f7;
  border-left: 4px solid #00a3e0 !important;
}
.tabs-left > li.active > a:focus {
  background-color: #f7f7f7;
  border-left: 4px solid #00a3e0 !important;
}
.employeeDataFiles {
  border: 1px solid #e5e5e3;
  padding: 32px;
}
.employeeDataFiles .employeeDataContent .employeeInfo {
  float: left;
  background: url(../img/DataTemplate.png) no-repeat left;
  padding: 7px 0 7px 80px;
}
.employeeDataFiles .employeeDataContent .employeeInfo h2 {
  line-height: 26px;
  margin-top: 0;
}
.employeeDataFiles .employeeDataContent .employeeInfo span {
  color: #97999b;
}
.employeeDataFiles .employeeDataContent .downloadFile {
  float: right;
  margin: 12px 0;
  width: 144px;
}
.dragDropFiles {
  border: 1px dashed #97999b;
  padding: 40px 40px 48px;
  text-align: center;
  margin-bottom: 46px;
}
.dragDropFiles.dragging {
  background: rgba(0, 163, 224, 0.08);
}
.dragDropFiles h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  margin-bottom: 5px;
}
.filesContent {
  border: 1px solid #e5e5e3;
  padding: 22px 17px 22px 80px !important;
  background: url(../img/bg-customized-files.png) no-repeat 24px 18px;
  margin-top: 20px;
  display: inline-flex;
  width: 47%;
  margin-right: 3%;
}
.filesContent .fileTitle {
  float: left;
  min-width: 190px;
  max-width: 190px;
}
.filesContent .fileTitle h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 20px;
  word-break: break-word;
}
.filesContent.respondents {
  background: url(../img/customizad_taxonomy.png) no-repeat 24px 18px;
  background-color: #f3f8e9;
  border: 1px solid #86bc25;
}
.filesContent.active {
  background-color: #f3f8e9 !important;
  border: 1px solid #86bc25;
}
.filesContent.finance {
  background: url(../img/img-finance.png) no-repeat 24px 18px;
}
.filesContent.it {
  background: url(../img/img-it.png) no-repeat 24px 18px;
}
.filesContent.marketing {
  background: url(../img/img-marketing.png) no-repeat 24px 18px;
}
.filesContent.corporate-services {
  background: url(../img/img-corporate-services.png) no-repeat 24px 18px;
}
.filesContent.hr {
  background: url(../img/img-hr.png) no-repeat 24px 18px;
}
.filesContent.sales {
  background: url(../img/img-sales.png) no-repeat 24px 18px;
}
.filesContent.legal {
  background: url(../img/img-legal.png) no-repeat 24px 18px;
}
.filesContent.indirect-materials {
  background: url(../img/img-indirect-materials.png) no-repeat 24px 18px;
}
.filesContent.img-corporate-re {
  background: url(../img/img-corporate-re.png) no-repeat 24px 18px;
}
.filesContent.img-supply-chain {
  background: url(../img/img-supply-chain.png) no-repeat 24px 18px;
}
.filesContent:hover {
  border: 1px solid #00a3e0;
}
.steps {
  display: flex;
  margin-bottom: 16px !important;
}
.steps.onlyTitle .well {
  padding: 12px 100px 12px 15px;
}
.steps.onlyTitle .well .title-step {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.steps .well {
  border-radius: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
  margin: 6px 4px 0 4px;
  width: 560px;
  padding: 10px 15px 14px;
  position: relative;
}
.steps .well:first-child {
  margin-left: 0;
}
.steps .well:last-child {
  margin-right: 0;
}
.steps .well:hover {
  background: #f2f2f2;
}
.steps .well:hover i:before {
  content: url(../img/navigation_onhover.png);
}
.steps .well.green {
  border-left: 2px solid #86bc25;
}
.steps .well.blue {
  border-left: 2px solid #00a3e0;
}
.steps .well .step {
  color: #B1B2B4;
  text-transform: uppercase;
  letter-spacing: -1.4px;
  display: block;
}
.steps .well .title-step {
  clear: both;
  display: block;
  font-size: 14px;
  letter-spacing: -0.1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.steps .well i:before {
  content: url(../img/navigation_default.png);
  position: absolute;
  top: 16px;
  right: 11px;
}
.steps .well:active .step,
.steps .well.active .step {
  color: rgba(255, 255, 255, 0.6);
}
.steps .well:active .title-step,
.steps .well.active .title-step {
  color: white;
}
.steps .well:active i:before,
.steps .well.active i:before {
  content: url(../img/navigation_selected.png);
}
.steps .well:active.blue,
.steps .well.active.blue {
  background-color: #00a3e0;
  border-left: 2px solid #00a3e0;
}
.steps .well:active.green,
.steps .well.active.green {
  background-color: #86bc25;
  border-left: 2px solid #86bc25;
}
.steps .well.step-before i:before {
  content: url(../img/navigation_completed.png);
}
/* Auto Save Button */
.btnAutosave {
  display: block;
  margin: 2px 0 0 91px;
}
.btnAutosave span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #63666a;
  font-size: 13px;
  line-height: 16px;
  float: right;
  width: 84%;
  letter-spacing: -0.2px;
}
.btnAutosave i {
  float: left;
  margin: 0 0 10px -10px;
}
.btnAutosave i:before {
  content: url(../img/autosave.png);
}
.btnAutosave:hover span {
  color: #323335;
}
.btnAutosave:hover i:before {
  content: url(../img/autosave_active.png);
}
.btnAutosave.autosave-error i:before {
  content: url(../img/autosave_error.png);
}
